@model WEBLayer2.Models.Agencia

@{
    ViewBag.Title = "Edit";
}



@if (ViewBag.ERROR != null)
{
    <h5 style="text-align: center; width: 60%; margin: 2% auto;" class="alert alert-danger">@ViewBag.ERROR["Nombre"]</h5>
}

<link rel="stylesheet" href="~/Content/style.css">
@section Styles
{
    <style type="text/css">
       li {
            line-height: 2.2;
        }

        @@media (max-width: 767px) {
            #edit {
                order: -1;
            }
        }
    </style>
}
<div style="margin-bottom: 2%;">
    <button id="volver">
        @Html.ActionLink("Volver", "Index")
    </button>
</div>

<div class="page">
    <div class="cont">
        <div id="editDer" class="der">
            <div class="form">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <ul class="form-list">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Id)
                        <li class="form-list__row">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "col-md-12" })
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "col-md-12" } })
                                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </li>
                        <li class="form-list__row">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Ubicacion, htmlAttributes: new { @class = "col-md-12" })
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.Ubicacion, new { htmlAttributes = new { @class = "col-md-12" } })
                                    @Html.ValidationMessageFor(model => model.Ubicacion, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </li>
                        <li class="form-list__row">
                            <div class="form-group">
                                @Html.LabelFor(model => model.EnvioDomicilio, htmlAttributes: new { @class = "col-md-12" })
                                <div class="col-md-12">
                                    <div class="checkbox">
                                        @Html.EditorFor(model => model.EnvioDomicilio)
                                        @Html.ValidationMessageFor(model => model.EnvioDomicilio, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="form-list__row">
                            <div class="form-group">
                                @Html.LabelFor(model => model.IdEmpresa, htmlAttributes: new { @class = "col-md-12" })
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.IdEmpresa, new { htmlAttributes = new { @class = "col-md-12" } })
                                    @Html.ValidationMessageFor(model => model.IdEmpresa, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </li>
                        <li class="form-list__row">
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-8">
                                    <input type="submit" value="Modificar" class="btn btn-default" />
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                }
            </div>
        </div>
        <div id="edit">
            <div class="titulo">Editar Agencia</div>
            <div id="texto" class="eula">Modificar datos de agencia</div>
        </div>
    </div>
</div>