@model WEBLayer2.Models.RegisterViewModel
@{
    ViewBag.Title = "Registrarse";
}

<link href="~/Content/inicio.css" rel="stylesheet" type="text/css" />

<div class="modal">
    <div class="modal__reg">
        <div class="col-md-12">
            <section id="loginForm">
                <div class="modal__content">
                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                    <ul class="form-list">
                        <li class="form-list__row">
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                        </li>
                        <li class="form-list__row">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Email, new { @class = "col-md-12" })
                                <div class="col-md-12">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "col-md-12" })
                                </div>
                            </div>
                        </li>
                        <li class="form-list__row">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Password, new { @class = "col-md-12" })
                                <div class="col-md-12">
                                    @Html.PasswordFor(m => m.Password, new { @class = "col-md-12" })
                                </div>
                            </div>
                        </li>
                        <li class="form-list__row">
                            <div class="form-group">
                                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-12" })
                                <div class="col-md-12">
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "col-md-12" })
                                </div>
                            </div>
                        </li>
                        <li class="form-list__row">
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-8">
                                    <input type="submit" class="button" value="Registrarse" />
                                </div>
                            </div>
                        </li>
                    </ul>
                            }              
                    </div>
            </section>
        </div>
        <div class="modal__featured">
            <div id="modal__register"></div>
            <img src="https://cdn.pixabay.com/photo/2013/07/12/16/51/package-151375_960_720.png" class="modal__product" />
        </div>
    </div>
</div>
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
