@model WEBLayer2.Models.Paquete

@{
    ViewBag.Title = "Delete";
}

@if (ViewBag.ERROR != null)
{
    <p class="msg">@ViewBag.ERROR</p>
}

<link rel="stylesheet" href="~/Content/style.css">

<div>
    <button id="volver">
        @Html.ActionLink("Volver", "Index")
    </button>
</div>
<div class="page">
    <div class="cont">
        <div class="izq">
            <div class="titulo">Eliminar Paquete</div>
            <div id="texto" class="eula">Eliminar paquete del sistema</div>
        </div>
        <div class="der">
            <div class="form">
                <div class="form-horizontal">
                    <ul class="form-list">
                        <li class="form-list__row">
                            <div class="form-group">
                                @Html.LabelFor(model => model.FechaIngreso)


                                <div>
                                    @Html.EditorFor(model => model.FechaIngreso, new { htmlAttributes = new { @disabled = "disabled" } })
                                </div>
                            </div>
                        </li>
                        <li class="form-list__row">
                            <div class="form-group">
                                @Html.LabelFor(model => model.FechaEntrega)


                                <div>
                                    @Html.EditorFor(model => model.FechaEntrega, new { htmlAttributes = new { @disabled = "disabled" } })
                                </div>
                            </div>
                        </li>
                        <li class="form-list__row">
                            <div class="form-group">
                                @Html.LabelFor(model => model.IdTrayecto)
                                <div>
                                    @Html.EditorFor(model => model.IdTrayecto, new { htmlAttributes = new { @disabled = "disabled" } })
                                </div>
                            </div>
                        </li>
                        <li class="form-list__row">
                            <div class="form-group">
                                @Html.LabelFor(model => model.IdRemitente)
                                <div>
                                    @Html.EditorFor(model => model.IdRemitente, new { htmlAttributes = new { @disabled = "disabled" } })
                                </div>
                            </div>
                        </li>
                        <li class="form-list__row">
                            <div class="form-group">
                                @Html.LabelFor(model => model.IdDestinatario)
                                <div>
                                    @Html.EditorFor(model => model.IdDestinatario, new { htmlAttributes = new { @disabled = "disabled" } })
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-gruop">
                        <div class="col-md-offset-2 col-md-8">
                            <input type="submit" value="Eliminar" class="btn btn-default" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
