
@{
    ViewBag.Title = "Detalle";
}

<div class="container">
    @if (ViewBag.Error != null)
    {
        <p>@ViewBag.Error</p>
    }
    else
    {
        <h2>Detalle del paquete</h2>
        <div class="row">
            <div class="col-sm-12">
                <h4>Trayecto</h4>
                <table class="table-striped">
                    <thead>
                        <tr>
                            <th>Orden</th>
                            <th>Nombre</th>
                            <th>Estado</th>
                            <th>Retraso</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var pc in ViewBag.PuntosDeControl)
                        {
                            <tr>
                                <td>@pc.Orden</td>
                                <td>@pc.Nombre</td>
                                @foreach(var ppc in ViewBag.PaquetesPuntoDeControl)
                                {
                                    if(ppc.IdPuntoControl == pc.Id)
                                    {
                                        <td>Alcanzado</td>
                                        <td>@ppc.Retraso</td>
                                        break;
                                    }
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <h2>Destinatario</h2>
                <p>@ViewBag.Destinatario.Email</p>
                <p>@ViewBag.Destinatario.NombreCompleto</p>
            </div>
            <div class="col-sm-6">
                <h2>Remitente</h2>
                <p>@ViewBag.Remitente.Email</p>
                <p>@ViewBag.Remitente.NombreCompleto</p>
            </div>
        </div>
    }
</div>

