@model WEBLayer2.Models.PaqueteDTO

@{
    ViewBag.Title = "Details";
}

<link rel="stylesheet" href="~/Content/main.css" type="text/css" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>
<script src="~/Scripts/bootstrap.min.js" type="text/javascript"></script>
<script src="~/Scripts/popper.js" type="text/javascript"></script>
<script src="~/Scripts/select2.min.js" type="text/javascript"></script>
<script src="~/Scripts/main.js" type="text/javascript"></script>

<link rel="stylesheet" type="text/css" href="~/Content/jquery.dataTables.min.css">
<script type="text/javascript" charset="utf8" src="~/Scripts/detallePaquete.js"></script>
<script type="text/javascript" charset="utf8" src="~/Scripts/jquery.dataTables.js"></script>

<link rel="stylesheet" href="~/Content/style.css">


<div>
    <button id="volver">
        @Html.ActionLink("Volver", "Index")
    </button>
    <button id="volver">
        @Html.ActionLink("Editar Paquete", "Edit", new { /* id = Model.PrimaryKey */ })
    </button>
</div>

<div style="margin: 2% 0 2% 0" class="row">
    <div style="border-bottom: 1px solid white; color: white" class="col-md-6">
        <h4 style="text-align: center"><strong>Destinatario</strong></h4>
        <p style="text-align: center">@Model.Destinatario.NombreCompleto</p>
        <p style="text-align: center"> @Model.Destinatario.Email</p>
    </div>
    <div style="border-bottom: 1px solid white; color: white" class="col-md-6">
        <h4 style="text-align: center"><strong>Remitente</strong></h4>
        <p style="text-align: center">@Model.Remitente.NombreCompleto</p>
        <p style="text-align: center">@Model.Remitente.Email</p>
    </div>
</div>

<div>
    <div class="container-table100">
        <div class="wrap-table100">
            <div class="table100 ver1 m-b-110">
                <table id="detallePaquete" class="table display" data-vertable="ver1">
                    <thead>
                        <tr class="row100 head">
                            <th class="column100 column1" data-column="column1">Nombre</th>
                            <th class="column100 column2" data-column="column2">Orden</th>
                            <th class="column100 column3" data-column="column3">Fecha llegada</th>
                            <th class="column100 column4" data-column="column4">Retraso</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Trayecto.ListaPuntosControl)
                        {
                            <tr class="row100">
                                <td class="column100 column1" data-column="column1">@item.Nombre</td>
                                <td class="column100 column2" data-column="column2">@item.Orden</td>
                                @if (Model.PaquetePuntoControl.FirstOrDefault(x => x.IdPuntoControl == item.Id) != null)
                                {
                                    <td class="column100 column3" data-column="column4">@Model.PaquetePuntoControl.First(x => x.IdPuntoControl == item.Id).FechaLlegada</td>
                                    <td class="column100 column3" data-column="column4">@Model.PaquetePuntoControl.First(x => x.IdPuntoControl == item.Id).Retraso</td>
                                }
                                else
                                {
                                    <td class="column100 column3" data-column="column3">-</td>
                                    <td class="column100 column4" data-column="column4">-</td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</div>

