@model WEBLayer2.Models.Paquete

@{
    ViewBag.Title = "Edit";
}

@if (ViewBag.ERROR != null)
{
    <p>@ViewBag.ERROR</p>
}

<link rel="stylesheet" href="~/Content/style.css">
@section Styles
{
    <style type="text/css">
        li {
            line-height: 1.2;
        }

        @@media (max-width: 767px) {
            #edit {
                order: -1;
            }
        }
    </style>
}
<div>
    <button id="volver">
        @Html.ActionLink("Volver", "Index")
    </button>
</div>
<div class="page">
    <div class="cont">
        <div id="editDer" class="der">
            <div class="form">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <ul class="form-list">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.Id)
                            <li class="form-list__row">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CodigoConfirmacion, htmlAttributes: new { @class = "col-md-12" })
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.CodigoConfirmacion, new { htmlAttributes = new { @class = "col-md-12" } })
                                        @Html.ValidationMessageFor(model => model.CodigoConfirmacion, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </li>
                            <li class="form-list__row">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.FechaIngreso, htmlAttributes: new { @class = "col-md-12" })
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.FechaIngreso, new { htmlAttributes = new { @class = "col-md-12" } })
                                        @Html.ValidationMessageFor(model => model.FechaIngreso, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </li>
                            <li class="form-list__row">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.FechaEntrega, htmlAttributes: new { @class = "col-md-12" })
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.FechaEntrega, new { htmlAttributes = new { @class = "col-md-12" } })
                                        @Html.ValidationMessageFor(model => model.FechaEntrega, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </li>
                            <li class="form-list__row">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.IdTrayecto, htmlAttributes: new { @class = "col-md-12" })
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.IdTrayecto, new { htmlAttributes = new { @class = "col-md-12" } })
                                        @Html.ValidationMessageFor(model => model.IdTrayecto, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </li>
                            <li class="form-list__row">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.IdRemitente, htmlAttributes: new { @class = "col-md-12" })
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.IdRemitente, new { htmlAttributes = new { @class = "col-md-12" } })
                                        @Html.ValidationMessageFor(model => model.IdRemitente, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </li>
                            <li class="form-list__row">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.IdDestinatario, htmlAttributes: new { @class = "col-md-12" })
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.IdDestinatario, new { htmlAttributes = new { @class = "col-md-12" } })
                                        @Html.ValidationMessageFor(model => model.IdDestinatario, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </li>
                            <li class="form-list__row">
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-8">
                                        <input type="submit" value="Save" class="btn btn-default" />
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                }
            </div>
        </div>
        <div id="edit">
            <div class="titulo">Editar Paquete</div>
            <div id="texto" class="eula">Modificar datos de paquete</div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
