@{
    ViewBag.Title = "FiltroResultado";
}

<h2>FiltroResultado</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Codigo Confirmacion
        </th>
        <th>
            Fecha Ingreso
        </th>
        <th>
            Fecha Entrega
        </th>
        <th>
            Id Trayecto
        </th>
        <th>
            Id Remitente
        </th>
        <th>
            Id Destinatario
        </th>
        <th></th>
    </tr>

@foreach (var item in ViewBag.PAQUETES) {
    <tr>
        <td>
            @item.CodigoConfirmacion
        </td>
        <td>
            @item.FechaIngreso
        </td>
        <td>
            @item.FechaEntrega
        </td>
        <td>
            @item.IdTrayecto
        </td>
        <td>
            @item.IdRemitente
        </td>
        <td>
            @item.IdDestinatario
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
