@model WEBLayer2.Models.PuntoControl

@{
    ViewBag.Title = "DeletePC";
}

@if (ViewBag.ERROR != null)
{
    <h5 style="text-align: center; width: 60%; margin: 2% auto;" class="alert alert-danger">@ViewBag.ERROR</h5>
}

<link rel="stylesheet" href="~/Content/style.css">
@section Styles
{
    <style type="text/css">
        #punto {
            font-size: 40px;
        }
    </style>
}
<div style="margin-bottom: 2%;">
    <button id="volver">
        @Html.ActionLink("Volver", "Index")
    </button>
</div>
<div class="page">
    <div class="cont">
        <div class="izq">
            <div id="punto" class="titulo">Eliminar Punto de Control</div>
            <div id="texto" class="eula">Eliminar punto de control</div>
        </div>
        <div class="der">
            <div class="form">
                <div class="form-horizontal">
                    <ul class="form-list">
                        <li class="form-list__row">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Orden)
                                <div>
                                    @Html.EditorFor(model => model.Orden)
                                </div>
                            </div>
                        </li>
                        <li class="form-list__row">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Tiempo)
                                <div>
                                    @Html.EditorFor(model => model.Tiempo)
                                </div>
                            </div>
                        </li>
                        <li class="form-list__row">
                            <div class="form-group">
                                @Html.LabelFor(model => model.IdAgencia)
                                <div>
                                    @Html.EditorFor(model => model.IdAgencia)
                                </div>
                            </div>
                        </li>
                        <li class="form-list__row">
                            <div class="form-group">
                                @Html.LabelFor(model => model.IdTrayecto)
                                <div>
                                    @Html.EditorFor(model => model.IdTrayecto)
                                </div>
                            </div>
                        </li>
                        <li class="form-list__row">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Nombre)
                                <div>
                                    @Html.EditorFor(model => model.Nombre)
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-group">
                        <input type="hidden" class="form-control" id="Id" name="Id" value="@Model.Id" readonly>
                    </div>
                    <input type="submit" value="Eliminar" class="btn btn-default" />
                }
            </div>
        </div>
    </div>
</div>