@{ int lineas = 0; string idPC = null, idTrayectoPC = null; string nombrePC = null, ordenPC = null, idAgenciaPC = null, tiempoPC = null; string borradoPC = null;}

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "Trayecto", FormMethod.Post))
{
    <div class="form-group">
        <label for="idTrayecto">Id:</label>
        <input type="number" class="form-control" id="idTrayecto" name="idTrayecto" value="@ViewBag.TRAYECTO.Id" readonly>
    </div>
    <div class="form-group">
        <label for="nombreTrayecto">Nombre del trayecto:</label>
        <input type="text" class="form-control" id="nombreTrayecto" name="nombreTrayecto" value="@ViewBag.TRAYECTO.Nombre">
    </div>

    <h6>Puntos de control</h6>

    foreach (var item in ViewBag.PUNTOSCONTROL)
    {
        lineas = lineas + 1;
        nombrePC = "nombrePC" + lineas;
        ordenPC = "ordenPC" + lineas;
        idAgenciaPC = "idAgenciaPC" + lineas;
        tiempoPC = "tiempoPC" + lineas;
        idPC = "idPC" + lineas;
        idTrayectoPC = "idTrayectoPC" + lineas;
        borradoPC = "borradoPC" + lineas;
        <div class="form-group">
            <label for="@idPC">Id:</label>
            <input type="number" class="form-control" id="@idPC" name="@idPC" value="@item.Id" readonly />
        </div>
        <div class="form-group">
            <label for="@idTrayectoPC">Id Trayecto:</label>
            <input type="number" class="form-control" id="@idTrayectoPC" name="@idTrayectoPC" value="@item.IdTrayecto" readonly />
        </div>
        <div class="form-group">
            <label for="@nombrePC">Nombre:</label>
            <input type="text" class="form-control" id="@nombrePC" name="@nombrePC" value="@item.Nombre" />
        </div>
        <div class="form-group">
            <label for="@ordenPC">Orden:</label>
            <input type="number" class="form-control" id="@ordenPC" name="@ordenPC" value="@item.Orden" />
        </div>
        <div class="form-group">
            <label for="@tiempoPC">Tiempo:</label>
            <input type="number" class="form-control" id="@tiempoPC" name="@tiempoPC" value="@item.Tiempo" />
        </div>
        <div class="form-group">
            <label for="@idAgenciaPC">IdAgencia:</label>
            <input type="number" class="form-control" id="@idAgenciaPC" name="@idAgenciaPC" value="@item.IdAgencia" />
        </div>
        <div class="form-group">
            <label for="@borradoPC">Borrar:</label>
            <input type="checkbox" class="form-control" id="@borradoPC" name="@borradoPC" value="1" />
        </div>
    }

    <div id="puntosDeControl"></div>

    <a href="#" id="addPuntoControl" onclick="nuevo()">Nuevo punto de control</a>
    <br />
    <button type="submit" class="btn btn-default">Submit</button>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script>
    var linea = @lineas;

    function nuevo() {
        linea = linea + 1;
        var txt0 = '<hr> Punto de Control ' + linea;
        var txt1 = '<div class="form-group">';
        var txt2 = '<label for="nombrePC' + linea + '">Nombre:</label>';
        var txt3 = '<input type="text" class="form-control" id="nombrePC' + linea + '" name="nombrePC' + linea + '">';
        var txt4 = '</div>';
        var txt5 = '<div class="form-group">';
        var txt6 = '<label for="ordenPC' + linea + '">Orden:</label>';
        var txt7 = '<input type="number" class="form-control" id="ordenPC' + linea + '" name="ordenPC' + linea + '">';
        var txt8 = '</div>';
        var txt9 = '<div class="form-group">';
        var txt10 = '<label for="tiempoPC' + linea + '">Tiempo:</label>';
        var txt11 = '<input type="number" class="form-control" id="tiempoPC' + linea + '" name="tiempoPC' + linea + '">';
        var txt12 = '</div>';
        var txt13 = '<div class="form-group">';
        var txt14 = '<label for="idAgenciaPC' + linea + '">ID Agencia:</label>';
        var txt15 = '<input type="number" class="form-control" id="idAgenciaPC' + linea + '" name="idAgenciaPC' + linea + '">';
        var txt16 = '</div>';
        $("#puntosDeControl").append(txt0, txt1, txt2, txt3, txt4, txt5, txt6, txt7, txt8, txt9, txt10, txt11, txt12, txt13, txt14, txt15, txt16);
    }
</script>