@model WEBLayer2.Models.PuntoControl

@{
    ViewBag.Title = "EditPC";
}

@if (ViewBag.ERROR != null)
{
    <p class="msg">@ViewBag.ERROR</p>
}

<link rel="stylesheet" href="~/Content/style.css">

@section Styles
{
    <style type="text/css">
        #punto{
            font-size: 40px;
        }
        @@media (max-width: 767px) {
           #edit{
               order: -1;
           }
        }
    </style>
}

<div style="margin-bottom: 2%;">
    <button id="volver">
        @Html.ActionLink("Volver", "Index")
    </button>
</div>

<div class="page">
    <div class="cont">
        <div id="editDer" class="der">
            <div class="form">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Id)


                        <div class="form-group">
                            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "col-md-12" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "col-md-12" } })
                                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Orden, htmlAttributes: new { @class = "col-md-12" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Orden, new { htmlAttributes = new { @class = "col-md-12" } })
                                @Html.ValidationMessageFor(model => model.Orden, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Tiempo, htmlAttributes: new { @class = "col-md-12" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Tiempo, new { htmlAttributes = new { @class = "col-md-12" } })
                                @Html.ValidationMessageFor(model => model.Tiempo, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.IdAgencia, htmlAttributes: new { @class = "col-md-12" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.IdAgencia, new { htmlAttributes = new { @class = "col-md-12" } })
                                @Html.ValidationMessageFor(model => model.IdAgencia, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.IdTrayecto, htmlAttributes: new { @class = "col-md-12" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.IdTrayecto, new { htmlAttributes = new { @class = "col-md-12" } })
                                @Html.ValidationMessageFor(model => model.IdTrayecto, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-1 col-md-10">
                                <input type="submit" value="Modificar" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div id="edit">
            <div id="punto" class="titulo">Editar Punto de Control</div>
            <div id="texto" class="eula">Editar punto de control</div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
