@model WEBLayer2.Models.Trayecto

@{
    ViewBag.Title = "Edit";
}

@if (ViewBag.ERROR != null)
{
    <p>@ViewBag.ERROR</p>
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Trayecto</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <h3>Puntos de control</h3>

        <table>
            <tr>
                <th>Nombre</th>
                <th>Agencia</th>
                <th>Orden</th>
                <th>Tiempo</th>
                <th></th>
            </tr>
            @foreach (var item in Model.ListaPuntosControl)
            {
                <tr>
                    <td>@item.Nombre</td>
                    <td>@item.IdAgencia</td>
                    <td>@item.Orden</td>
                    <td>@item.Tiempo</td>
                    <td>@Html.ActionLink("Editar", "EditPC", new { id = item.Id })</td>
                </tr>
            }
        </table>

        <div>
            @Html.ActionLink("Agregar punto de control", "CreatePC", new { idTrayecto = Model.Id})
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
