@model WEBLayer2.Models.Cliente

@{
    ViewBag.Title = "Create";
}

@if (ViewBag.ERROR != null)
{
    <p>@ViewBag.ERROR</p>
}

@{
    var lista = new List<SelectListItem>() {

        new SelectListItem()
        {
            Text = "Cédula",
            Value = "CI",
        },
        new SelectListItem()
        {
            Text = "Pasaporte",
            Value = "Pasaporte",
        }
    };
}

<link rel="stylesheet" href="~/Content/style.css">
@section Styles
{
    <style type="text/css">
        select {
            color: #fff;
            font-weight: 200;
            min-width: 100%;
            background-color: #474A59;
            border: 2px solid #87B7F1;
        }
    </style>
}

<div>
    <button id="volver">
        @Html.ActionLink("Volver", "Index")
    </button>
</div>
<div class="page">
    <div class="cont">
        <div class="izq">
            <div class="titulo">Alta de Cliente</div>
            <div id="texto" class="eula">Ingreso de nuevo cliente al sistema</div>
        </div>
        <div class="der">
            <div class="form">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <ul class="form-list">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <li class="form-list__row">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "col-md-12" })
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "col-md-12" } })
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </li>
                            <li class="form-list__row">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.NombreCompleto, htmlAttributes: new { @class = "col-md-12" })
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.NombreCompleto, new { htmlAttributes = new { @class = "col-md-12" } })
                                        @Html.ValidationMessageFor(model => model.NombreCompleto, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </li>
                            <li class="form-list__row">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Telefono, htmlAttributes: new { @class = "col-md-12" })
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "col-md-12" } })
                                        @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </li>
                            <li class="form-list__row">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.NumeroDocumento, htmlAttributes: new { @class = "col-md-12" })
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.NumeroDocumento, new { htmlAttributes = new { @class = "col-md-12" } })
                                        @Html.ValidationMessageFor(model => model.NumeroDocumento, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </li>
                            <li class="form-list__row">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.TipoDocumento, htmlAttributes: new { @class = "col-md-12" })
                                    <div class="col-md-12">
                                        @Html.DropDownListFor(model => model.TipoDocumento, lista, new { htmlAttributes = new { @class = "col-md-12" } })
                                        @*@Html.EditorFor(model => model.TipoDocumento, new { htmlAttributes = new { @class = "col-md-12" } })*@
                                        @Html.ValidationMessageFor(model => model.TipoDocumento, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </li>
                            <li class="form-list__row">
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-8">
                                        <input type="submit" value="Confirmar" class="btn btn-default" />
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

