@model WEBLayer2.Models.PaqueteDTO

@{ 
    Layout = null;
}

<h2>Datos de envío</h2>

<div class="container">
    <img src="data:image;base64,@Model.Qr" width="80" height="80" />
    <div class="row">
        <h5>Remitente</h5>
        <ul>
            <li>Nombre: @Model.Remitente.NombreCompleto</li>
            <li>Email: @Model.Remitente.Email</li>
            <li>Telefono: @Model.Remitente.Telefono</li>
            <li>Tipo de documento: @Model.Remitente.TipoDocumento</li>
            <li>Numero de documento: @Model.Remitente.NumeroDocumento</li>
        </ul>
        <h5>Destinatario</h5>
        <ul>
            <li>Nombre: @Model.Destinatario.NombreCompleto</li>
            <li>Email: @Model.Destinatario.Email</li>
            <li>Telefono: @Model.Destinatario.Telefono</li>
        </ul>
    </div>
</div>